<% layout('layouts/boilerplate') %>

    <div id="clusterMap" class="rounded mb-3"></div>
    <div class="d-flex flex-row-reverse">
        <button id="btnExpend" type="button" class="btn btn-primary">Expend map</button>
    </div>

    <h1>All Campgrounds</h1>
    <a href="campgrounds/new">Add New Camp ⛺</a>
    
    <div class="row">
        <% for (let camp of campgrounds){ %>
            <div class="col-lg-6">
                <a href="/campgrounds/<%= camp._id %>" class="text-decoration-none">
                    <div class="card mb-3 glow">
                        <div class="row g-0">
                            <div class="col-md-4 mx-auto d-flex justify-content-center h-100">
                                <img src=<%=camp.images[0]?.show
                                    ?? "https://res.cloudinary.com/dis3rrz4f/image/upload/b_black,c_pad,h_300,w_300/v1714752857/YelpCamp/fallbacks/fallBackImageGemini01_etskbd.jpg"
                                    %> alt="camp image" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= camp.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%= camp.short %>
                                    </p>
                                    <p class="card-text"><small class="text-body-secondary">
                                            <%= camp.city %>, <%= camp.state %>
                                        </small></p>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>

    <script>
        const geofeatures = JSON.parse('<%- JSON.stringify(features) %>');
    </script>
    <script src="/javascripts/clusterMap.js"></script>